:root {
    --Pale-Violet-sub-heading-at-the-top-of-the-app-UI: hsl(276, 100%, 81%) ;
    --Moderate-Violet-chat-on-the-left: hsl(276, 55%, 52%) ;
    --Desaturated-Dark-Violet-chat-on-the-right: hsl(271, 15%, 43%) ;
    --Grayish-lue-placeholder-text: hsl(206, 6%, 79%) ;
    --Very-Dark-Desaturated-Violet-main-heading: hsl(271, 36%, 24%) ;
    --Dark-Grayish-Violet-paragraph: hsl(270, 7%, 64%) ;

    --Light-Magenta: hsl(293, 100%, 63%) ;
    --Light-Violet: hsl(264, 100%, 61%) ;

    --White: hsl(0, 0%, 100%) ;
    --Light-Grayish-Violet-app-background: hsl(270, 20%, 96%) ;
    --Very-Dark-Desaturated-Violet-submit-button-background: hsl(271, 36%, 24%) ;
    --Very-Light-Magenta-radio-button-outline: hsl(289, 100%, 72%) ;
}
html:focus-within {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
body {
    margin: 42px 24px;
    Font-size: 16px;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-rendering: optimizeSpeed;
    font-family: 'Rubik', sans-serif;
    background-color: var(--Light-Grayish-Violet-app-background);
    overflow: hidden;
}
.bg-l-body {
    background: linear-gradient(to bottom ,
    var(--Light-Magenta) -100%,
    var(--Light-Violet));
    height: 83vh;
    align-self: flex-start;
    position: fixed;
    top: 0;
    left: -49px;
    z-index: -1;
    border-radius: 0 0 290px 290px;
    width: 31.4%;
}
.bg-r-body {
    background: linear-gradient(to bottom ,
    var(--Light-Magenta),
    var(--Light-Violet));
    height: 83vh;
    align-self: flex-start;
    position: fixed;
    right: -123px;
    bottom: 0;
    z-index: -1;
    border-radius: 290px 290px 0 0;
    width: 32%;
    opacity: 0.1;
}
.container {   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 820px;
    justify-content: space-between;
}
@media (min-width: 1450px) {
    .bg-l-body {
        width: 34%;
    }
    .bg-r-body {
        width: 34%;
    }
}
@media (min-width: 768px) {
    .container {   
        margin: 0 0 70px 70px;
    }
}
.container .mop {
    background-color: var(--White);
    padding: 9px;
    border-radius: 32px;
    width: 100%;
    max-width: 246px;
    box-shadow: 2px 17px 20px 0px #00000026;
}
@media (max-width: 767px) {
    body {
        margin: 29px  24px;
    }
    .bg-l-body {
        width: 69%;
        height: 58vh;
        left: -70px;
        border-radius: 0 0 1000px 0;
    }
    .bg-r-body {
    display: none   ;
    }
    .container  {
        justify-content: center;
    }
}
.container .mop .avater {
    display: flex;
    align-items: center;
    background: linear-gradient(to right ,
    var(--Light-Violet),
    var(--Light-Magenta));
    padding: 32px 32px 12px;
    border-radius: 16px 16px 6px 6px;
    position: relative;
}
.container .mop .avater::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    background-color: var(--White);
    height: 21px;
    border-radius: 0 0 16px 16px;
}
.container .mop .avater > span {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-color: transparent transparent white white;
    transform: rotate(45deg);
    left: 20px;
}
.container .mop .avater img {
    width: 22px;
    height: 22px;
    border: 1px solid var(--White);
    border-radius: 50%;
    margin-right: 10px;
}
.container .mop .avater .name-avater { color: var(--Light-Grayish-Violet-app-background);}
.container .mop .avater .name-avater h3{
    font-size: 11px;
    color: var(--White);
    opacity: 0.9;
    font-weight: 400;
    margin-bottom: 2px;
    letter-spacing: 0.7px;
}
.container .mop .avater .name-avater p{
    font-size: 8px;
    opacity: 0.5;
}
.container .mop .avater .shofl > span {
    position: absolute;
    background-color: var(--Light-Grayish-Violet-app-background);
    width: 3px;
    height: 3px;
    right: 12px;
    border-radius: 50%;
    top: 51%;
    transform: translatey(165%);
}
.container .mop .avater .shofl > span:nth-child(2) { top: 57%;}
.container .mop .avater .shofl > span:nth-child(3) { top: 63%;}
.container .mop .message {
    background-color: var(--Light-Grayish-Violet-app-background);
    border-radius: 0 0 22px 22px;
    padding: 11.2px 8.6px 10.4px 8.2px;
    display: grid;
    gap: 8.4px;
}
.container  .mop .message .me-p {
    max-width: 125px;
    border-radius: 8px 8px 8px 1px;
    background-color: hsl(0, 14%, 91%);
}
.container  .mop .message .me-p > p {
    font-size: 8px;
    padding: 6.8px 7.1px;
    line-height: 1.25;
    color: var(--Moderate-Violet-chat-on-the-left);
}
.container  .mop .message .him-w {
    text-align: right;
    margin-top: 8px;
}
.container  .mop .message .him-w .img-w img {
    border-radius: 8px;
    width: 40px;
    margin-right: 2px;
}
.container  .mop .message .him-w > span {
    max-width: 125px;
    display: inline-block;
    margin-top: 4px;
    background-color: var(--White);
    border-radius: 8px 8px 1px 8px;
    padding: 6.2px 12px;
    font-size: 7.7px;
    text-align: left;
    font-weight: 400;
    line-height: 1.4;
    color: var(--Dark-Grayish-Violet-paragraph);
}
.container  .mop .message .him-w span:last-child{
    margin-top: 8px;
    margin-bottom: 8px;
}
.container  .mop .message .odio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right ,
     var(--Light-Magenta),
     var(--Light-Violet));
    max-width: 160px;
    padding: 11px 17px 6.9px 0px;
    border-radius: 8px 8px 8px 1px;
    position: relative;
}
.container  .mop .message .odio p{
    font-size: 6.3px;
    color: var(--White);
    opacity: 0.7;
    letter-spacing: 0.8px;
    padding-left: 30px;
    }
.container  .mop .message .odio span:first-child{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 54%;
    transform: translateY(-50%);
    left: 8px;
    border-radius: 50%;
    border: 2px solid var(--White);
    opacity: 0.3;
}
.container  .mop .message .odio span:last-child{
    font-size: 12px;
    color: var(--White);
    font-weight: 500;
}
.container  .mop .message .send-m form {
    background-color: var(--White);
    border-radius: 22px;
    padding: 8px;
    margin-top: 7.4px;
    position: relative;
}
.container  .mop .message .send-m form input {
    border: none;
    padding-left: 10px;
    font-size: 9px;
    opacity: 0.5;
}
.container  .mop .message .send-m form > div {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--Very-Dark-Desaturated-Violet-submit-button-background);
    right: 5px;
    border-radius: 50%;
    top: -7px;
    transform: translatey(50%);
}
.container  .mop .message .send-m form  span {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-color: white white transparent transparent;
    right: 12px;
    top: 11px;
    transform: rotate(45deg) translatey(-50%);
}
.container  .mop .message .send-m form input:focus::placeholder {
    opacity: 0;
 }
.container .text  {
    flex-basis: 55%;
}
.container .text h1 {
    font-size: 39px;
    color: var(--Very-Dark-Desaturated-Violet-main-heading);
    font-weight: 500;
}
.container .text p {
    margin-top: 24px;
    line-height: 1.8;
    color: var(--Dark-Grayish-Violet-paragraph);
}
@media (max-width: 767px ) {
    .container .text  {
        flex-basis: 93%;
        text-align: center;
        margin-top: 65px;
    }
    .container .text p  {
        margin-top: 23px;
        line-height: 1.77;
    }

}